/*  your css code here. If applicable */
.grid-container{
	display:grid;
	grid-template-columns: 100px 100px 100px ;
	grid-template-rows: 100px 100px 100px;
}
.grid-item{
	background: transparent;
}
#3{
	background: rgb(255, 0, 0);
}
#change_button{
	background: rgb(255, 0, 0);
}